.audio-visualizer {
  text-align: center;
}

#out {
  height: 100%;
  position: relative;
  border-radius: 0px;
  border: 10px solid white;
  margin: 20px 0;
  // background-image: url(https://wallpapercave.com/wp/wp2062774.jpg);
  // background-size: cover;
  background-color: black;
}