<div class="user-detail">
    <div class="user-detail__background">
        <div class="user-detail__info info">
            <div class="info__avatar">
                <div>
                    <img class="info__image" src="https://i1.sndcdn.com/avatars-PFJfACORNI81gMkB-ka5qdw-t500x500.jpg">
                    <p class="info__user-name">User Name</p>
                    <span class="info__follower-following">0 Followers</span>
                    &bull; <span class="info__follower-following">0 Following</span>
                </div>
                <div class="info__edit eidt-profile">
                    <div class="eidt-profile__button">
                        <ion-icon class="eidt-profile__image-edit" name="create-outline"></ion-icon>
                    </div>
                    <div class="eidt-profile__play">
                        <div class="eidt-profile__share">
                            <ion-icon class="eidt-profile__image-share" name="shuffle-outline"></ion-icon>
                        </div>
                        <!-- <div class="eidt-profile__plays-button">
                            <ion-icon class="eidt-profile__image-play" name="play-circle-outline"></ion-icon>
                        </div> -->
                        <ion-button class="eidt-profile__plays-button">
                            <ion-icon class="eidt-profile__image-play" name="caret-forward-outline"></ion-icon>
                        </ion-button>

                    </div>
                </div>
                <div class="info__insight insight">
                    <p class="insight__text">Your insights</p>
                    <div class="insight__move-button">
                        <ion-icon class="insight__image" name="chevron-forward-outline"></ion-icon>
                    </div>
                </div>


                <div class="info__profile profile">
                    <div>
                        <p class="profile__text">Complete your profiles</p>
                        <span class="profile__completed">0 OF 4 </span> <span class="profile__complete">COMPLETE</span>
                    </div>
                    <div class="profile__move-button" (click)="openProfile()">
                        <ion-icon class="profile__image" name="chevron-down-outline"></ion-icon>
                    </div>

                </div>


                <div class="info__spotlight spotlight">
                    <p class="spotlight__text">Spotlight</p>
                    <p class="spotlight__pin">Pin your gems to your profile</p>
                    <div class="spotlight__list-pin">
                        <div class="spotlight__pin-items">
                            <ion-icon class="spotlight__image" name="lock-closed-outline"></ion-icon>
                        </div>
                        <div class="spotlight__pin-items">
                            <ion-icon class="spotlight__image" name="lock-closed-outline"></ion-icon>
                        </div>

                        <div class="spotlight__pin-items">
                            <ion-icon class="spotlight__image" name="lock-closed-outline"></ion-icon>
                        </div>
                        <div class="spotlight__pin-items">
                            <ion-icon class="spotlight__image" name="lock-closed-outline"></ion-icon>
                        </div>
                        <div class="spotlight__pin-items">
                            <ion-icon class="spotlight__image" name="lock-closed-outline"></ion-icon>
                        </div>

                        <div class="spotlight__pin-items">
                            <ion-icon class="spotlight__image" name="lock-closed-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>