<div class="new-track">
    New tracks
    <div class="new-track__container">
        <div class="new-track__list"> 
            <div class="list__item">
                <img class="list__item-image" src="https://i1.sndcdn.com/avatars-PFJfACORNI81gMkB-ka5qdw-t500x500.jpg">
                <p>MCK</p>
            </div>
            <div class="list__item">
                <img class="list__item-image" src="https://i1.sndcdn.com/avatars-PFJfACORNI81gMkB-ka5qdw-t500x500.jpg">
                <p>MCK</p>
            </div>
            <div class="list__item">
                <img class="list__item-image" src="https://i1.sndcdn.com/avatars-PFJfACORNI81gMkB-ka5qdw-t500x500.jpg">
                <p>MCK</p>
            </div>
            <div class="list__item">
                <img class="list__item-image" src="https://i1.sndcdn.com/avatars-PFJfACORNI81gMkB-ka5qdw-t500x500.jpg">
                <p>MCK</p>
            </div>
            <div class="list__item">
                <img class="list__item-image" src="https://i1.sndcdn.com/avatars-PFJfACORNI81gMkB-ka5qdw-t500x500.jpg">
                <p>MCK</p>
            </div>
        </div>
    </div>
</div>
