<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dash-board">
        <ion-icon name="home-sharp"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="new-track">
        <ion-icon name="radio"></ion-icon>
        New track
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="library"></ion-icon>
        Rencently Played
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>