p {
  margin: 0px;
}

.recently-played {
  font-weight: 600;
  font-size: 20px;
  &__container {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  &__list {
    display: flex;
    gap: 13px;
    .list {
      &__item {
        display: flex;
        flex-direction: column;
        min-width: 100px;
        align-items: center;
        gap: 10px;
      }
      &__item-image {
        height: 120px;
        width: 120px;
        border-radius: 5px;
        border: 1px solid #c8c8c8;
      }
      &__item-name {
        font-size: 13px;
      }
    }
  }
}
