<div class="recently-played">
    Recently played
    <div class="recently-played__container">
        <div class="recently-played__list">
            <div class="list__item">
                <img class="list__item-image"
                    src="https://photo-resize-zmp3.zadn.vn/w600_r1x1_jpeg/cover/0/8/5/0/0850b7d79b732fd99e3383909f807d58.jpg">
                <p class="list__play-button">
                    <img class="list__play-image" src="assets/play.png" />
                </p>
                <p class="list__item-name">Healing</p>
            </div>
        </div>
    </div>
</div>