<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button><img src="assets/back.svg" (click)="cancel()"></ion-button>
        </ion-buttons>
        <ion-title>{{audio?.title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true"><img src="assets/more.svg" (click)="cancel()"></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-visualization-youtube [isShowDetail]="true" [audioItems]="audioItems" [audio]="audio"></app-visualization-youtube>
</ion-content>